<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<title>System zarzadania szpitalem</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/jslibs/jquery-ui.min.css}" href="../jslibs/jquery-ui.min.css" />
	<link rel="stylesheet" th:href="@{/jslibs/bootstrap.min.css}" href="../jslibs/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	
	<script th:src="@{/jslibs/jquery.min.js}" src="../jslibs/jquery.min.js" />
	<script th:src="@{/jslibs/jquery-ui.min.js}" src="../jslibs/jquery-ui.min.js" />

	<script th:src="@{/js/tools.js}" src="../js/tools.js" />
	<script th:src="@{/js/composit.js}" src="../js/composit.js" />
	<script th:src="@{/js/consts.js}" src="../js/consts.js" />
	<script th:src="@{/js/jsBuilder.js}" src="../js/jsBuilder.js" />
	<script th:src="@{/js/searcher.js}" src="../js/searcher.js" />
</head>

<body>

	<nav class="navbar navbar-default main-menu" th:fragment="mainMenu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SZS</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Start</a></li>
				<li><a href="/view/doctor">Lekarz</a></li>
				<li><a href="/view/nurse">Pielegniarka</a></li>
				<li><a href="/view/patients">Pacjent</a></li>
				<li><a href="/view/administration">Administracja</a></li>
				<li><a href="/view/config">Konfiguracja</a></li>
				<li><a th:if="!${isPrincipal}" href="/view/login/sign-in">Logowanie</a></li>
				<li><a th:if="${isPrincipal}" href="/view/login/my-profile">Moj profil</a></li>
			</ul>
		</div>
	</nav>

	<div id="container">

		<div class="starter-template">
			<h1 style="color:#4CAF50">System zarządzania szpitalem</h1>
			<h3>PROJEKT PODSTAWY INŻYNIERII PROGRAMOWANIA</h3>
			<h4>Wydział Elektrotechniki Automatyki i Informatyki </h4>
			<h4>Politechnika Świętokrzyska</h4>

			<br/><br/>

			<h3>AUTORZY:</h3>
			<h4>Ambrolewicz Artur </h4>
			<h4>Barchan Piotr</h4>
			<h4>Bątkowska Karolina</h4>
			<h4>Brzeźnicki Daniel</h4>



			
		</div>

	</div>	

	<div id="main_menu_footer" th:fragment="footer">

	</div>

</body>

</html>