<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<title>System zarzadania szpitalem</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />

	<script th:src="@{/js/tools.js}" src="../js/tools.js" />
	<script th:src="@{/js/composit.js}" src="../js/composit.js" />
</head>

<body>

	<nav class="navbar navbar-default main-menu" th:fragment="mainMenu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SZS</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Start</a></li>
				<li><a href="/view/doctor">Lekarz</a></li>
				<li><a href="/view/nurse">Pielegniarka</a></li>
				<li><a href="/view/patients">Pacjent</a></li>
				<li><a href="/view/administration">Administracja</a></li>
				<li><a href="/view/config">Konfiguracja</a></li>
				<li><a th:if="!${isPrincipal}" href="/view/login/sign-in">Logowanie</a></li>
				<li><a th:if="${isPrincipal}" href="/view/login/my-profile">Moj profil</a></li>
			</ul>
		</div>
	</nav>

	<div id="container">

		<div class="starter-template">
			<h1>Strona startowa</h1>
			<h2>
				jakis napis
			</h2>
		</div>

	</div>	

	<div id="main_menu_footer" th:fragment="footer">

	</div>

</body>

</html>