<head th:replace="mainMenu :: head"> </head>

<body>
    <div th:replace="mainMenu :: mainMenu"> </div>
    <div id="new-examination" class="content">
        <div id="new-examination-view-container">
            <table>            
            <tr><td><label>Typ badania</label></td> <td id='examinationType-td'></td></tr>
            </table>
            <label>Opis</label> <br/>
            <textarea id="examinationDescription-textarea"  dtovalue='true' required='true' cols="100" rows="5"></textarea> <br/>
            <label>Data</label> <input type="date" id="start-date-input" name='startDate' dtovalue='true' required='true'/><br/>
            <label>Czas</label> <input type="time" id="start-time-input" name='startTime' dtovalue='true' required='true'/><br/>
            
            <br/>

            <div id="new-recipt-view-container">
                Recepta <button id="recipt-button-add" clicked='false' >Dodaj receptę</button>
                <br/><br/>
            </div>

            <div id="new-refferal-view-container">
                Skierowanie <button id="refferal-button-add" clicked='false'>Dodaj skierowanie</button>
                <br/><br/>
            </div>
    
            <button id="saveExaminationButton" class="simplebutton">Zapisz badanie i zakoncz wizyte</button>

            <script th:inline='javascript'>
                 $('#examinationType-td').html(jsBuilder.createSelect( 'examinationType-select', consts.URLS.getExaminationTypes).attr(consts.REQUIRED_ATTR, true));
                             
                 var space='<br/><br/>';
                 var addReciptButton = $('#' + 'recipt-button-add');
                 
                 addReciptButton.click(function () {                                                      

                    var text='Tresc recepty:<br/>';
                    var new_textarea = jsBuilder.createTextarea('100','5', 'reciptDescription-textarea');                 
                    
                    $('#new-recipt-view-container').append(text);
                    $('#new-recipt-view-container').append(new_textarea);
                    $('#new-recipt-view-container').append(space);

                    
                    $('#recipt-button-add').prop('disabled', true);     
                 });

                 var addRefferalButton = $('#' + 'refferal-button-add');
                
                 addRefferalButton.click(function () {
                    
                    var text='Skierowanie:<br/>';
                    var label1='<label>Typ skierowania</label>';
                    var new_input = jsBuilder.createInput('text', 'refferalType-input');
                    var label2='<br/><label>Dodatkowy opis</label><br/>';
                    var new_textarea = jsBuilder.createTextarea('100','5','refferalDescription-textarea');                 

                    $('#new-refferal-view-container').append(text);
                    $('#new-refferal-view-container').append(label1);
                    $('#new-refferal-view-container').append(new_input);
                    $('#new-refferal-view-container').append(label2);
                    $('#new-refferal-view-container').append(new_textarea);
                    $('#new-refferal-view-container').append(space);

                    $('#refferal-button-add').prop('disabled', true);
                 });

                 $("#saveExaminationButton").click(function () {
                        if (tools.validation('new-examination-view-container')) {
                            //skierowanie 
                            var refferalDTO = { 
                                refferalType: $('refferalType-input').val(),                               
                                refferalDescription: tools.inputToJSON('refferalDescription-textarea')                           
                            }
                                                   
                            //badanie
                            var examinationDTO = {
                                patientCardId: [[${ patient.id }]],
                                visitId: [[${visit.id}]],
                                examinationType: tools.selectToJSON('examinationType-select'),
                                examinationDescription: tools.inputToJSON('examinationDescription-textarea'),
                                startDate: tools.inputToJSON('start-date-input'),
                                startTime: tools.inputToJSON('start-time-input'),
                                reciptDescription: tools.inputToJSON('reciptDescription-textarea'),
                                refferal: refferalDTO    
                            }

                            tools.postForObject("/medicalAction/saveExamination", examinationDTO, function () {
                                alert("Zapisano badanie");
                                tools.postForObject("/patient/visit/" + [[${visit.id}]] +"/end", null, function () {
                                alert("Zakonczono wizyte");
                                },
                                function () {
                                alert("Blad zakonczneia wizyty");
                                });
                            },
                            function () {
                                alert("Blad. Nie udalo sie zapisac badania");
                            });

                        } else {
                            alert('Prosze uzupelnic wymagane pola');
                        }
                    });
            
            </script>
        </div>
        <a class="simplebutton detail_button" th:href="@{'/view/patient/'+ ${patient.id} + '/visit/' + ${visit.id}+'/detail'}">Wroc</a>
    </div>
    <div th:replace="mainMenu :: footer"> </div>
</body>