<head th:replace="mainMenu :: head"> </head>

<body>
    <div th:replace="mainMenu :: mainMenu"> </div>
    
    <div id="medical-actions-gice-drug-id" class="content">
        <div>
            <h3>
                <div th:text="'Id:' + ${patient.id}" />
                <div th:text="${patient.name} + ' ' + ${patient.surname}" />
            </h3>
        </div>
        <div th:if="${room} == null"> <a class="simplebutton important_button" th:href="@{'/view/patient/' + ${patient.id} + '/detail'}">UWAGA! PACJENT NIE JEST PRZYPISANY DO SALI!</a></div>     
        
        <div th:if="${room} != null">
            <a class ="simplebutton" th:href="@{'/view/hospital/room/' + ${room.id}}" th:text="${room.roomName}" />
        </div> 
    </div>
    <br/>
    <br/>
    <div>
        <div th:if="${room != null}"><span th:if="${room.drugs.empty}">Brak lekow na sali</span></div>
   
        <script> var drugsIds = []; </script>
        <table th:if="${room != null}" class="table table-bordered table-striped">
            <tr th:each="drug : ${room.drugs}" th:id="'drug' + ${drug.id}">
                <td th:text="${drug.name.name} +' '+${drug.dosage}+' '+${drug.unit.name}+' w ilosci '+${drug.amount} + ' sztuk'"></td>
                <td><input type='number' id='drug-number-to-give' name='amount' dtovalue='true' /></td>
                <script th:inline='javascript'> drugsIds.push([[${drug.id}]]); </script>
            </tr>
        </table>    
    </div>
    <div><input id='given-drug-desc-input' type='text'/></div>
    <div><button class="simplebutton" id="give-drug-save-button">Zapisz</button></div>
        <script th:if="${room} != null" th:inline="javascript">
            var room = [[${ room.id }]];
            $('#give-drug-save-button').click(function () {
                var drugsDto = [];
                var patientId = [[${ patient.id }]];
                $(drugsIds).each(function () {
                    var self = this;
                    var dto = tools.tagInputsToDTO('drug' + self);
                    dto.id = self;

                    if (tools.validateDtoForGivenDrugs(dto))
                        drugsDto.push(dto);
                });
                if (drugsDto.length == 0) {
                    alert("Wymagane jest podanie chociaz jednego leku");
                } else {
                    tools.postForObject("/medicalAction/givenDrug", 
                    {
                      patientId: patientId,
                      drugs: drugsDto,
                      description: tools.inputToJSON('given-drug-desc-input')
                    }, function () {
                        alert('Podanie leku zostalo zapisane');
                        location.reload();
                    }, function (e) {
                        alert('Blad! ' + e.responseJSON.message);
                    });
                }

            });
        </script>
    
    <div th:replace="mainMenu :: footer" ></div>
</body>