<head th:replace="mainMenu :: head"> </head>

<body>
    <div th:replace="mainMenu :: mainMenu"> </div>
    
    <div id="medical-actions-gice-drug-id" class="content">
        <div>
            <h3>
                <div th:text="'Id:' + ${patient.id}" />
                <div th:text="${patient.name} + ' ' + ${patient.surname}" />
            </h3>
        </div>
        <div th:if="${room} == null"> <a class="simplebutton important_button" th:href="@{'/view/patient/' + ${patient.id} + '/detail'}">UWAGA! PACJENT NIE JEST PRZYPISANY DO SALI!</a></div>     
        
        <div th:if="${room} != null">
            <a class ="simplebutton" th:href="@{'/view/hospital/room/' + ${room.id}}" th:text="${room.roomName}" />
        </div> 
    </div>
    <br/>
    <br/>
    <div>
        <div th:if="${room.drugs.empty}">Brak lekow na sali</div>
   
        <table class="table table-bordered table-striped">
            <tr th:each="drug : ${room.drugs}" th:id="'drug' + ${drug.id}">
                <td th:text="${drug.name.name} +' '+${drug.dosage}+' '+${drug.unit.name}+' w ilosci '+${drug.amount} + ' sztuk'"></td>
                <td><input type='number' id='drug-number-to-give' name='number' dtovalue='true' /></td>
            </tr>
        </table>    
    </div>
    <div><input id='given-drug-desc-input' type='text'/></div>
    <div><button class="simplebutton" id="give-drug-save-button">Zapisz</button></div>
        <script th:if="${room} != null" th:inline="javascript">
            $('#give-drug-save-button').click(function () {
                var drugs = [[${ room.drugs }]];
                var drugsDto = [];
                
                $(drugs).each(function () {
                    var self = this;
                    var dto = tools.tagInputsToDTO('drug' + self.id);
                    dto.drugId = self.id;

                    if (tools.validateDtoForGivenDrugs(dto))
                        drugsDto.push(dto);
                });
                if (drugsDto.length == 0) {
                    alert("Wymagane jest podanie chociaz jednego leku");
                } else {
                    tools.postForObject("/medicalAction/givenDrug", 
                    {
                      patientId: [[patient.id]],
                      drugs: drugsDto,
                      description: tools.inputToJSON('given-drug-desc-input')
                    }, function () {
                        alert('Podanie leku zostalo zapisane');
                    }, function (e) {
                        alert('Blad! ' + e.responseJSON.message);
                    });
                }

            });
            var containerTag = $('#container');
            var url = "/searcher/drug/in-room/" + [[${ room.id }]] + "/query";

            options = {
                buildOptionDataFunc: function (optionTag, dto) { },
                isRequired: true,
                isDTOValue: true,
                name: "drugId"
            }

                    // var baseSearcherName = "drug-in-room-searcher";
                    // var tag = $("#drugs-searchers");
                    // searcher.buildSearcher(tag, baseSearcherName, url, options);
                    // jsBuilder.createInput('number', 'drug-number-to-give')
                    //     .appendTo(containerTag)
                    //     .attr(consts.REQUIRED_ATTR, true)
                    //     .attr(consts.DTO_VALUE_ATTR, true)
                    //     .attr('name', 'number');
        </script>
    
    <div th:replace="mainMenu :: footer" ></div>
</body>