<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
	<a th:href='@{/view/nurse/search}' class="simplebutton">Szukaj</a>

	<div id="nurses-form-sign-in" class="content">
			<table class="table table-bordered table-striped">
				<tr th:if="${nurses.empty}">
					<td colspan="4">Brak pielegniarek</td>
				</tr>
				<tr th:each="nurse : ${nurses}">
					<td th:text="${nurse.name}"></td>
					<td th:text="${nurse.surname}"></td>					
					<td> <a th:id="'nurse-detail' + ${nurse.id}" th:href="@{'/view/nurse/' + ${nurse.id}}" class="simplebutton detail_button">Szczegóły</a></td>
				</tr>
			</table>
	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>