<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>

	<div id="doctor-view" class="content">
			<button id="searchDoctorButton" class="simplebutton">Szukaj</button>
			<button th:href='@{/view/administration/new/employee}' id="addDoctorButton" class="simplebutton">Dodaj</button>

		<table class="table table-bordered table-striped">
				<tr th:if="${doctors.empty}">
					<td colspan="4">Brak lekarzy</td>
				</tr>
				<tr th:each="doctor : ${doctors}">
					<td th:text="${doctor.name}"></td>
					<td th:text="${doctor.surname}"></td>
					<td> <a class="simplebutton edit_button" th:href="@{'/view/patient/'+ ${doctor.id} +'/edit'}">Edytuj</a></td>
					<td> <a class="simplebutton detail_button" th:href="@{'/view/patient/'+ ${doctor.id} +'/detail'}">Szczegoly</a></td>
				</tr>

			</table>


	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>