<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>

	<div id="doctor-view" class="content">
		<a th:href='@{/view/doctor/search}' class="simplebutton">Szukaj</a>

		<table class="table table-bordered table-striped">
				<tr th:if="${doctors.empty}">
					<td colspan="4">Brak lekarzy</td>
				</tr>
				<tr th:each="doctor : ${doctors}">
					<td th:text="${doctor.name}"></td>
					<td th:text="${doctor.surname}"></td>					
					<td> <a th:id="'doctor-detail' + ${doctor.id}" th:href="@{'/view/doctor/' + ${doctor.id}}" class="simplebutton detail_button">Szczegóły</a></td>
				</tr>

		</table>


	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>