<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
        
	<div id="add-teamDoctors-view" class="content">
    <br/>Tworzenie oddziału
        <div id="new-ward-view-container">

            <label> Nazwa oddziału:  </label>
            <input required='true' dtovalue='true' name='nameWard'/>

            <script th:inline='javascript'>

                

                var napisHtml = '<div id="teamDoctor-searcher-div"><label>Zaspół lekarzy: </label> </div><br/><br/>';

                $("#new-ward-view-container").append(napisHtml);
                    var options = {
                        isRequired: true,
                        isDTOValue: true,
                        name: 'idDoctorTeam',
                        buildOptionDataFunc: function (optionTag, dto) { }
                    };

                    searcher.buildSearcher($("#teamDoctor-searcher-div"), "teamDoctor-searcher", "/searcher/team/doctor/query/filter/inWard/false", options);
                        
                

                var napisHtml2 = '<div id="teamNurse-searcher-div"><label>Zaspół pielęgniarek: </label> </div><br/><br/>';

                $("#new-ward-view-container").append(napisHtml2);
                    var options = {
                        isRequired: true,
                        isDTOValue: true,
                        name: 'idNurseTeam',
                        buildOptionDataFunc: function (optionTag, dto) { }
                    };

                    searcher.buildSearcher($("#teamNurse-searcher-div"), "teamNurse-searcher", "/searcher/team/nurse/query/filter/inWard/false", options);

            </script>
            <button id="arrangewardButton" class="simplebutton">Utwórz drużynę</button>
            <script>
                $("#arrangewardButton").click(function () {
                        if (tools.validation("new-ward-view-container")) {
                            

                            var dto = tools.tagInputsToDTO("new-ward-view-container");
                            

                            tools.postForObject('/administration/ward', dto, function () {
                                alert("Dodano Oddział");
                                location="/view/administration/wards";
                            }, function (e) {
                                alert("Blad dodania oddziału \n" +e.responseJSON.message);
                            });
                        }
                        else {
                            alert("Prosze uzupelnic wymagane pola");
                        }

                    });
            </script>

        </div>
	</div>


	<div th:replace="mainMenu :: footer"> </div>
</body>