<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
        
	<div id="add-teamNurses-view" class="content">
	<br/>Dodawanie pielęgniarek
	<div id="new-teamNurses-view-container">
		<script th:inline='javascript'>
    
		    var napisHtml;
		    for(var x=0; 5 > x; x++) 
    
		    {
    
			napisHtml = '<div id="nurse-searcher-div'+ x +'"><label>Nurse </label> </div><br/><br/>';
    
			$("#new-teamNurses-view-container").append(napisHtml);
			    var options = {
				isRequired: true,
				isDTOValue: true,
				name: 'nurseId',
				buildOptionDataFunc: function (optionTag, dto) { }
			    };
    
			    searcher.buildSearcher($("#nurse-searcher-div" + x), "nurse-searcher", "/searcher/nurse/query/filter/inTeam/false", options);
			    
			}
    
		</script>
		<button id="arrangeteamNursesButton" class="simplebutton">Utwórz drużynę</button>
		<script>
		    $("#arrangeteamNursesButton").click(function () {
			    if (tools.validation("new-teamNurses-view-container")) {
				var memberIds = [];
				for (var y = 0; 5 > y; y++) {
				    var dto = tools.tagInputsToDTO("nurse-searcher-div" + y);
				    memberIds.push(dto.nurseId);
				}
				var dto = {memberIds:memberIds};
				tools.postForObject('/administration/team/nurse', dto, function () {
				    alert("Dodano zespół pielęgniarek");
				}, function (e) {
				    alert("Blad dodania zespołu pielęgniarek \n" +e.responseJSON.message);
				});
			    }
			    else {
				alert("Prosze uzupelnić wymagane pola");
			    }
    
			});
		</script>
    
	    </div>
	</div>


    



	<div th:replace="mainMenu :: footer"> </div>
</body>