<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
        
	<div id="add-teamDoctors-view" class="content">
    <br/>Dodawanie lekarzy
        <div id="new-teamDoctors-view-container">
            <script th:inline='javascript'>
                var napisHtml = "";
                for (var x = 0; 5 > x; x++) 
                {
                    napisHtml = '<div id="doctor-searcher-div"><label>Doktor </label> </div><br/><br/>';
                    $("#new-teamDoctors-view-container").append(napisHtml);
                        var options = {
                            isRequired: true,
                            isDTOValue: true,
                            name: 'doctorId',
                            buildOptionDataFunc: function (optionTag, dto) { }
                        };
                        searcher.buildSearcher($("#doctor-searcher-div"), "doctor-searcher", "/searcher/doctor/query", options);
                        $("#arrangeteamDoctorsButton").click(function () {
                            var dto = tools.tagInputsToDTO("new-teamDoctors-view-container");
                            
                            if (tools.validation("new-teamDoctors-view-container"))
                                tools.postForObject('/administration/createTeamDoctor', dto, function () {
                                    alert("Dodano zespół lekarzy");
                                }, function () {
                                    alert("Blad dodania zespoły lekarzy");
                                });
                            else {
                                alert("Prosze uzupelnic wymagane pola");
                            }
                        }); 
                }
            </script>
            <button id="arrangeteamDoctorsButton" class="simplebutton">Utwórz drużynę</button>
        </div>
	</div>


	<div th:replace="mainMenu :: footer"> </div>
</body>