<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>

	<div id="administration-view" class="content">

	<a class="simplebutton">Zarejestruj pacjenta (???)</a>
	<a th:href='@{/view/administration/new/employee}' class="simplebutton">Dodaj pracownika</a>
	<a class="simplebutton">Stworz oddzial</a>
	<a th:href='@{/view/administration/rooms}' class="simplebutton">Sale</a>
	<a th:href='@{/view/administration/room/storage}' class="simplebutton">Magazyn</a>

	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>