<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
    <button id="add-rooms-button" class="simplebutton">Dodaj</button>
        
	<div id="login-form-sign-in" class="content">
            <table class="table table-bordered table-striped">
				<tr th:if="${rooms.empty}">
					<td colspan="4">Brak sal</td>
				</tr>
				<tr th:each="room : ${rooms}">
					<td th:text="${room.id}"></td>
                    <td th:text="${room.roomName}"></td>
                    <td> <button th:id="'update-room-button' + ${room.id}" class="simplebutton edit_button">Edytuj</button></td>
                    <td> <button th:id="'add-drugs-button' + ${room.id}" class="simplebutton edit_button">Pobierz leki z magazynu</button></td>
                    <td> <a th:id="'room-detail' + ${room.id}" th:href="@{'/view/hospital/room/' + ${room.id}}" class="simplebutton edit_button">Szczegoly</a></td>
                    
                    <script th:inline='javascript'>
                        $('#update-room-button' + [[${ room.id }]]).click(function () {
                            $('#save-dialog-button').unbind().click(function () {
                                if (tools.validation('add-or-update-dialog')) {
                                    var dto = {
                                        id: [[${ room.id }]],
                                        roomName: tools.inputToJSON('dialog-input')
                                    }
                                    tools.postForObject("/hospital/new/room", dto, function () { alert('Edytowano sale'); location.reload(); }, function () { alert('Blad edycji nowej sali'); });
                                }
                            });
                            $('#add-or-update-dialog').dialog('option', 'title', "Edycja sali");
                            $('#add-or-update-dialog').dialog('open');
                        });
                        $('#add-drugs-button'+ [[${ room.id }]]).click(function () {
                            $('#drug-transfer-confirm-button').unbind().click(function () {
                                if (tools.validation('drug-transfer-dialog')) {
                                    var dto = tools.tagInputsToDTO('drug-transfer-dialog');
                                    dto.roomId = [[${ room.id }]];
                                    tools.postForObject("/hospital/room/drug/transfer", dto, function () { alert('Przeslano leki'); location.reload(); }, function (e) { alert('Blad transferu ' + e.responseJSON.message); });
                                }
                            });
                            $('#drug-transfer-dialog').dialog('option', 'title', "Transfer lekow");
                            $('#drug-transfer-dialog').dialog('open');
                        });
                    </script>
                </tr>
            </table>
	</div>


    <script th:inline='javascript'>
			tools.openDialog();

			$('#add-rooms-button').click(function () {
				$('#save-dialog-button').unbind().click(function () {
					if (tools.validation('add-or-update-dialog')) {
						var dto = {
							roomName: tools.inputToJSON('dialog-input')
						}
						tools.postForObject("/hospital/new/room", dto, function () { alert('Dodanie nowej sali'); location.reload(); }, function () { alert('Blad dodania nowej sali'); });
					}
				});
				$('#add-or-update-dialog').dialog('option', 'title', "Dodanie nowe sali");
				$('#add-or-update-dialog').dialog('open');
            });
            
            tools.openDialogToDrugTransfer();
            

		</script>



	<div th:replace="mainMenu :: footer"> </div>
</body>