<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
        
	<div id="wards-view" class="content">
        <a th:href="@{'/view/administration/teamDoctors'}" class="simplebutton">Zespół lekarzy</a>
	<a th:href="@{'/view/administration/teamNurses'}" class="simplebutton">Zespół pielęgniarek</a>
	<br/>
	<a th:href="@{'/view/administration/new/ward'}" class="simplebutton">Stwórz oddział</a>
	</div>




	<div th:replace="mainMenu :: footer"> </div>
</body>