<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>
        
	<div id="teamNurses-view" class="content">
        <a th:href="@{'/view/administration/new/teamNurses'}" id="arrangeTeamButton" class="simplebutton">Stwórz nowy</a>
	<br/>Zespoły pielęgniarek:
	<br/>
	</div>
	<table class="table table-bordered table-striped">
		<tr th:if="${teamNurses.empty}">
			<td colspan="4">Brak zespołów pielęgniarek</td>
		</tr>
		<tr th:each="teamNurse : ${teamNurses}">
			<td th:text="${teamNurse.id}"></td>
			<td th:text="'dr. '+${teamNurse.leader.surname}"></td>

			<td> <button th:id="'update-nurseTeam-button' + ${teamNurse.id}" class="simplebutton edit_button">Szczegóły</button></td>
			<td> <button th:id="'delete-nurseTeam-button' + ${teamNurse.id}" class="simplebutton edit_button">Usuń</button></td>
			<script th:inline='javascript'>
				$('#delete-nurseTeam-button'+[[${teamNurse.id}]]).click(function(){
					tools.deleteObject('/administration/teamNurse/' +[[${teamNurse.id}]],function () {
			alert("Usunięto zespół pielęgniarek");
							location.reload();
		    }, function () {
			alert("Bląd usunięcia zespołu pielęgniarek");
		    });
				});
			</script>
		</tr>
	</table>

	<div th:replace="mainMenu :: footer"> </div>
</body>