<head th:replace="mainMenu :: head"> </head>

<body>

    <div th:replace="mainMenu :: mainMenu"> </div>

    <div id="administration-view" class="content">

            <div ><lable >Id: </lable> <span th:text="${room.id}"/> </div>
            <div > <lable >Nazwa: </lable> <span th:text="${room.roomName}"/> </div>
        <table class="table table-bordered table-striped">
            <tr th:if="${room.drugs.empty}">
                <td>Brak lekow w magazynie!</td>
            </tr>
			<tr>
                <td th:text="Lek " />
                <td th:text="Dawka " />
				<td th:text="jednostka " />
				<td th:text="ilosc " />
            </tr>
            <tr th:each="drug: ${room.drugs}">
                <td th:text="${drug.name.name}" />
                 <td th:text="${drug.dosage}" />
				<td th:text="${drug.unit.name}" />
				<td th:text="${drug.amount}" />
            </tr>
        </table>

        <a th:href='@{/view/administration}' class="simplebutton">Wroc</a>

    </div>

    <div th:replace="mainMenu :: footer"> </div>
</body>