<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>

	<div id="patient-visits-view" class="content">
		<div id="patient-visits-view-container">
               <div th:text="${patient.name}"></div>
               <div th:text="${patient.surname}"></div>

			<table class="table table-bordered table-striped">
				<tr th:if="${visits.empty}">
					<td colspan="4">Brak visit</td>
				</tr>
				<tr th:each="visit : ${visits}">
					<td th:text="${visit.id}"></td>
                    <td> <label th:text="${visit.startDate}" /> <label th:text="${visit.startTime}" /> </td>
                    <td> <label th:if="${visit.endDate != null}" th:text="${visit.endDate}" /> <label th:if="${visit.endTime}" th:text="${visit.endTime}" /> </td>
                    <td  th:if="${visit.isEnd != null}" th:text="${visit.isEnd}"></td>
					<td> <button th:attr='visitId=${visit.id}' class="simplebutton medical_action_button" th:id="'sign-in-button'+${visit.id}">Ustaw jako obecna</button></td>
					<td> <a class="simplebutton edit_button" th:href="@{'/view/patient/'+ ${patient.id} +'/edit'}">Edytuj</a></td>
					<td> <a class="simplebutton detail_button" th:href="@{'/view/patient/' + ${patient.id} + '/long-term-visit/' + ${visit.id} + '/detail'}">Szczegoly</a></td>
					<script th:inline='javascript'>
						(function() {
								var signInButton = $('#sign-in-button' + [[${ visit.id }]]);
								if ([[${ isCurrVisit }]])
									signInButton.addClass('deactivate');

								signInButton.click(function () {
									var dto = {
										patientCardId: [[${ patient.id }]],
										longTermVisitId: Number(signInButton.attr('visitId'))
									}
									tools.postForObject("/patient/sign-in", dto, function () {
										alert('Zapisano do szpitala');
										window.location.href = '/view/patient/' + [[${ patient.id }]] + '/detail';
									}, function (e) { alert("Blad zapisu. " + e.responseJSON.message); });
								});
							}) ();
					</script>
				</tr>

			</table>



			<a class="simplebutton detail_button lonewolfbutton" th:href="@{'/view/patient/' + ${patient.id} +  '/detail'}">Wroc</a>
		</div>

	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>