<head th:replace="mainMenu :: head"> </head>

<body>
    <div th:replace="mainMenu :: mainMenu"> </div>
    <div id="new-visit" class="content">
        <div id="new-visit-view-container">
            <label>DoctorId</label> <input id="doctor-id-input" required='true'/> <br/>
            <label>Czy dlugoterminowa?</label> <input id="visit-type-input" type="checkbox"/> <br/>
            <label>Data</label> <input type="date" id="start-date-input" required='true'/><br/>
            <label>Czas</label> <input type="time" id="start-time-input" required='true'/><br/>
            <label>Data - planowany koniec (opcjonalna)</label> <input type="date" id="end-date-input" /><br/>
            <label>Czas - planowany koniec (opcjonalna)</label> <input type="time" id="end-time-input"/><br/>
            <br/><br/>
            <button id="arrangeVisitButton" class="simplebutton">Umow wizyte</button>
            <script>
                $("#arrangeVisitButton").click(function () {
                    if(tools.validation("new-visit-view-container"))
                        alert("Dzialam... TODO");
                    else{
                        alert("Prosze uzupelnic wymagane pola");
                    }
                });
            </script>
        </div>

    </div>

    <div th:replace="mainMenu :: footer"> </div>
</body>