<head th:replace="mainMenu :: head"> </head>

<body>

	<div th:replace="mainMenu :: mainMenu"> </div>

	<div id="patient-view" class="content">
		<button id="searchPatientButton" class="simplebutton">Szukaj</button>
		<button id="addPatientButton" class="simplebutton">Dodaj</button>


		<div id="patient-view-container">

			<table class="table table-bordered table-striped">
				<tr th:if="${patients.empty}">
					<td colspan="4">Brak pacjentow</td>
				</tr>
				<tr th:each="patient : ${patients}">
					<td th:text="${patient.name}"></td>
					<td th:text="${patient.surname}"></td>
					<td> <a class="simplebutton medical_action_button" th:href="@{'/view/medical/action/patient/' + ${patient.id}}">Akcja</a></td>
					<td> <a class="simplebutton edit_button" th:href="@{'/view/patient/'+ ${patient.id} +'/edit'}">Edytuj</a></td>
					<td> <a class="simplebutton detail_button" th:href="@{'/view/patient/'+ ${patient.id} +'/detail'}">Szczegoly</a></td>
				</tr>

			</table>
		</div>

	</div>

	<div th:replace="mainMenu :: footer"> </div>
</body>