h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.main-menu {
position: relative;
margin: auto;

}

.simplebutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.simplebutton:hover {
    background-color: #3e8e41;
}

.clickable{
cursor: pointer;
}


.edit_button{
cursor: pointer;
}


.medical_action_button{
cursor: pointer;
}


.delete_button{
cursor: pointer;
}

.table{
    position: absolute;
	text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid #ed1c40;
    width: 500px;
    margin: 50px auto;
    border-radius: .25rem;
}

tr{
border: 1px solid black;
} 

th, td{

} 


ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }

   .required{
       border-width: 2px;
       border-style: solid;
       border-color: #FF0000; 
   }