<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
<script th:src="@{/js/logowanie.js}" src="/js/logowanie.js"></script>

</head>
<body>
			
						
	<div class="container">
		
		<div class="content">
			 
			<h2>Login with Username and Password</h2>
			<div>
					Login
					<input id="loginInput" type="text" name="username" />
					<br/>
					Password
					<input id="passInput" type="password" name="password" />
				
				<button type="button" id="login" onclick="tryToLogin()">Login</button>
			</div>
			
			
			
			
		</div>
	</div>
</body>
</html>